@charset "UTF-8";
/* font imports */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:300';


/* definitions */
header {
	padding: 20px 20px 25px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	max-width: 650px;
}
header h1 {
	font-family: 'Josefin Sans', Geneva, Arial, sans-serif;
	font-size:32px;
	display: inline-block;
	margin-left: 5px;
	margin-bottom:0px;
	margin-top:10px;
}
nav {
	font-size:16px;
	font-style: normal;
	color: #666;
	font-family: 'Open Sans', Arial, sans-serif;
	float: right;
	margin-top:5px;
}
nav:after {
	content: "";
	display: table;
	clear: both;
}
nav ul {
	list-style: none;
	position:relative;
	margin:0px;
	-webkit-padding-start: 0px;
}

nav ul li {
	display: inline-block;
	padding-right: 0px;
	margin-left: 10px;
}

nav ul li:hover {
	color:#CCC;
}
nav ul li a {
	display:block;
	text-decoration:none;
	padding: 10px;
}

nav ul ul {
	display:none;
	padding: 0px;
	position:absolute;
	z-index:999;
}
nav ul li:hover ul {
	color:#666;
	background-color:#CCC;
	padding: 0px;
	display:block;
}
nav ul ul li {
	display:block;
	padding:0px;
	margin:0px;
}
nav ul ul li:hover {
	background-color:#666;
}
li > a:after {
	content: ''; /*or ' +' */
}
.toggle, [id^=drop] {
	display:none;
}

li > a:only-child:after {
	content: '';
}

a {
	color:inherit;
	text-decoration:none;
}
h2 {
	font-family: 'Josefin Sans', Geneva, Arial, sans-serif;
	font-size:26px;
	display:block;
	text-align: center;
	padding-left: 0px;
	margin-bottom:10px;
	margin-top:0px;
}
body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size:15px;
	margin:0;
}
p a {
	color:#06F;
}
p a:visited {
	color:#09F
}
a i {
	color:#666;
	padding:0px 10px;
}
a i:hover {
	color:#CCC;
}
#container {
	width: 80%;
	max-width: 650px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	padding: 20px;
	text-align:center;
}
#social {
	width: 80%;
	max-width: 650px;
	margin: auto;
	padding: 10px;
	height: 30px;
	text-align:left;
}
#social i {
	float:right;
}
#design {
	text-align:left;
	background-color: #837cb6;
	padding-left:40px;
	margin:0px;
}
#designdiv h3 {
	font-size: 2.5rem;
	font-weight: 600;
	margin-bottom:18px;
	margin-top:18px;
}
#designdiv h3 i {
	color:white;
}
#designdiv h4 {
	font-size: 2rem;
	margin-bottom: 0;
}
#designdiv {
	text-align: left;
	margin: 0 auto 0 auto;
	width:70%;
	padding:100px 20px;
}
#designdiv ul {
	padding-left: 7rem;
	margin-bottom:5rem;
}
#designdiv li {
	font-size:1.8rem;
	list-style:circle;
	color:white;
}
#designdiv h2 {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 3rem;
	color:white;
}
#designdiv i {
	color:white;
}
#contact {
	text-align:left;
	background-color: #7dac6c;
	padding-left:40px;
	margin:0px;
}

#about {
	text-align:left;
	max-width:500px;
	margin-left:auto;
	margin-right:auto;
}
#about .fa-envelope {
	padding:7px 7px 0px 0px;
}
#about a i {
	color:#000;
	padding:15px 20px 0px 0px;
}
#about a i:hover {
	color:#666;
}
div {
	margin-bottom: 25px;
}
.index img:hover {
	opacity: 0.75;
}
div .photo {

}
div .photo p {
	position:relative;
	display:block;
	text-align:right;
	padding: 5px;
	margin:-4px 0 0 0 ;
}

.photo img {
	margin-top: 30px;
}
.landscape {
	width:100%;
}
.vertical {
	max-height:650px;
	margin:auto;
}
div .links {
	width: 80%;
	margin: auto;
}
div .links div {
	margin-bottom:40px;
}
div .links a {
	background-color: #333;
	color: white;
	padding: 15px 18px;
	margin: 12px auto 12px auto;
	text-align: center;
	display: block;
}
div .links a:hover {
	opacity: 0.75;
}
div .links h2 {
	margin-top: 10px;
	margin-bottom: 20px;
}
div .music {
	width:100%;
	margin-bottom: 20px;
}

form {
	text-align:center;
	margin-bottom: 20px;
}
form table {
	margin:auto;
}
