@charset "utf-8";
header {
	width: 80%
	padding: auto;
	text-align: center;
}
header h1 {
	padding-left: 0;
}
header nav {
	display: block;
	float:none;
	padding: auto;
}
nav ul {
	padding-left: 0;
	padding-right: 0;
}
.toggle + a, .menu {
	display: none;
}
.toggle {
	display: block;
}
[id^=drop]:checked + ul {
display: block;
vertical-align:middle;
}
nav label {
	padding: 10px;
	vertical-align:middle;
}
nav .fa {
	vertical-align:middle;
	/*vertical-align:text-bottom;*/
}
nav ul li {
	margin:auto;
	width:50%;
	display:block;

}
nav ul ul {
	background:#CCC;
	float: none;
	position: static;

}
nav ul li:hover > ul { display: none; }

nav ul ul li {
	width:100%;
	display: block;
	text-align:center;
}
.photo {
	width:100%;
}
.vertical {
	width:100%;
	max-height:none;
}
#social {
	font-size:small;
	display:block;
}
#social i {
	font-size:medium;
	display:inline-block;
}
#designdiv ul {
	padding-left:0;
	margin-bottom:5rem;
}
#designdiv h3 {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom:18px;
	margin-top:18px;
}
#designdiv h2 {
	font-size: 2.5rem;
}
#details h2 {
	font-size:1.5rem;
}
